USE [EVA2]
GO
/****** Object:  Table [dbo].[student_performance]    Script Date: 16-11-2024 5:40:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[student_performance](
	[student_id] [int] IDENTITY(1,1) NOT NULL,
	[semester] [nvarchar](50) NOT NULL,
	[study_hours] [float] NULL,
	[class_attendance] [float] NULL,
	[previous_gpa] [float] NULL,
	[social_activities] [float] NULL,
	[library_visits] [float] NULL,
	[is_scholarship_holder] [bit] NOT NULL,
	[current_gpa] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[student_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[student_performance] ON 

INSERT [dbo].[student_performance] ([student_id], [semester], [study_hours], [class_attendance], [previous_gpa], [social_activities], [library_visits], [is_scholarship_holder], [current_gpa]) VALUES (1, N'Fall 2023', 20.7, 80, 2.52, 8, 3.2, 0, 1.51)
INSERT [dbo].[student_performance] ([student_id], [semester], [study_hours], [class_attendance], [previous_gpa], [social_activities], [library_visits], [is_scholarship_holder], [current_gpa]) VALUES (2, N'Spring 2023', 19.1, 81.4, 3.77, 2.5, 4.9, 0, 1.78)
INSERT [dbo].[student_performance] ([student_id], [semester], [study_hours], [class_attendance], [previous_gpa], [social_activities], [library_visits], [is_scholarship_holder], [current_gpa]) VALUES (3, N'Spring 2022', 16.8, 93.6, 2.14, 5.7, 4.7, 1, 1.73)
GO
SET IDENTITY_INSERT [dbo].[student_performance] OFF
GO
ALTER TABLE [dbo].[student_performance]  WITH CHECK ADD CHECK  (([class_attendance]>=(0) AND [class_attendance]<=(100)))
GO
ALTER TABLE [dbo].[student_performance]  WITH CHECK ADD CHECK  (([current_gpa]>=(0) AND [current_gpa]<=(4)))
GO
ALTER TABLE [dbo].[student_performance]  WITH CHECK ADD CHECK  (([library_visits]>=(0)))
GO
ALTER TABLE [dbo].[student_performance]  WITH CHECK ADD CHECK  (([previous_gpa]>=(0) AND [previous_gpa]<=(4)))
GO
ALTER TABLE [dbo].[student_performance]  WITH CHECK ADD CHECK  (([social_activities]>=(0)))
GO
ALTER TABLE [dbo].[student_performance]  WITH CHECK ADD CHECK  (([study_hours]>=(0)))
GO
